@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html,body {
  overflow-x: hidden;
}

.ParentBox
{
    width: 100vw;
    height: auto;
    background-color: #1E1E1E;
    display: grid; /* Grid display */
    grid-template-columns: repeat(2, 1fr);
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    
}
  
.pic-ctn {
    width: 100vw;
    height: 200px;
    margin-bottom: 5rem;
  }
  
  @keyframes display {
    0% {
      transform: translateX(200px);
      opacity: 0;
    }
    10% {
      transform: translateX(0);
      opacity: 1;
    }
    20% {
      transform: translateX(0);
      opacity: 1;
    }
    30% {
      transform: translateX(-200px);
      opacity: 0;
    }
    100% {
      transform: translateX(-200px);
      opacity: 0;
    }
  }
  
  .pic-ctn {
    position: relative;
    width: 600px;
    height: 300px;
    margin-top: 15vh;
    
  }
  
  .pic-ctn > img {
    position: absolute;
    top: 0;
    left: calc(50% - 100px);
    opacity: 0;
    animation: display 10s infinite;
  }
  .pic
  {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);;
    
  }
  
  img:nth-child(2) {
    animation-delay: 2s;
  }
  img:nth-child(3) {
    animation-delay: 4s;
  }
  img:nth-child(4) {
    animation-delay: 6s;
  }
  img:nth-child(5) {
    animation-delay: 8s;
  }

  .ImageText
  {
    color: white !important;
    text-align: justify;
    font-size: large;
    margin-top: auto;
    margin-bottom: auto;
    text-wrap: wrap;
  }

  .ImageText h1
  {
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #FF9100;
    font-size: 80px;
  }

  .ImageText p
  {
    color: #ffffff53;
    font-size: 25px;
    margin-top: 15px;
    margin-bottom: 10px;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }

  @media (max-width: 768px) 
  {
    .ParentBox
    {
        grid-template-columns: repeat(1, 1fr);
    }
    .ImageText
    {
        text-align: center;
        padding-right: 5rem;
        margin-bottom: 2rem;
        margin-top: -4rem;
    }
    .ImageText p 
    {
        font-size: 20px;
    }
    .ImageText h1 
    {
        font-size: 60px;
    }
    .pic
    {
        width: 200px;
        height: 200px;
        margin-left: -3rem;
    }

  }
  @media (max-width: 420px) 
  {
    .ImageText
    {
        text-align: center;
        padding-right: 14rem;
        margin-bottom: 2rem;
        margin-top: -8rem;
        transform: scale(.9);
    }
    .ImageText p 
    {
        font-size: 20px;
    }
    .ImageText h1 
    {
        font-size: 60px;
    }
    .pic
    {
        width: 200px;
        height: 200px;
        margin-left: -6rem;
    }

  }