.navbar {
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px) ;
    padding: .5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1%;
    font-weight: bolder;
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    z-index: 1000; 
    border: solid .5px white;

  }
  .link::before
  {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
    border-radius: 8px;
    transform: scaleX(0);
    transition: all 0.5s ease;
    bottom: -5px;
    left: 0;
    box-shadow:0 0 20px rgba(255, 255, 255, 0.8), 
    0 0 50px rgba(255, 255, 255, 0.3);
  }
  .link:hover::before{
    transform: scaleX(1);
  }
  .nav-links 
  {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .link {
    color: #FFFF;
    text-decoration: none;
    margin-right: 20px;
    transition: color 0.2s ease;
    cursor: pointer;
    position: relative;
    transition: transform 0.3s ease-in-out;
  }
  
  .link:hover {
    color: #FF9100;
  }
  
  .link:active {
    color: #FF9100;
  }
  .RA{
    color: #fff;
    font-size: 27px;
    margin-right: 65%;
  }
  .RA:hover {
    color: #FF9100;
  }
  .navbar-logo{
    color: #fff;
    margin-left: 1rem;

    }
  .navbar-logo:hover {
    color: #FF9100;
    
  }

  @media (max-width: 768px) {
    .navbar {
      flex-direction: row;
      align-items: flex-start;
      overflow-y: hidden;
    }
    .nav-links {
      font-size: small;
      flex-direction: row;
      padding: 0.5rem;
      gap: 10px;
      margin: auto;
      
    }
    .link {
      margin-left: -20%;
      margin-right: 0;
      margin-bottom: 10px;
    }
    .RA {
      margin: auto;
      font-size: 20px;
      color: #fff;
    }
  }
  
  @media (max-width: 480px) {
    .navbar {
      padding: 0.5rem;
    }
    .link {
      font-size: 16px;
      margin: auto;
    }
    .RA {
      font-size: 30px;
      margin: auto;

    }
  }

  .navbar li {
    transition: transform 0.2s ease-in-out;
  }
  
  .navbar li:hover {
    transform: scale(1.05);
  }
  
  .navbar::before
  {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
    border-radius: 8px;
    transform: scaleX(0);
    transition: all 0.5s ease;
    bottom: 0;
    left: 0;
    box-shadow:0 0 20px rgba(255, 255, 255, 0.8), 
    0 0 50px rgba(255, 255, 255, 0.3);
  }
  .navbar:hover::before{
    transform: scaleX(1);
  }


  @media (max-width: 1400px) 
  {
    .link {
      font-size: 16px;
    }
    .RA {
      font-size: 30px;
    }
    .navbar-logo
    {
      margin-left: auto;
    }
  }

  @media (max-width: 420px) 
  {
    .link {
      font-size: 12px;
    }
    .RA {
      font-size: 20px;
      margin-left: -5px;
    }
    .navbar-logo
    {
      margin-left: auto;
      height: 30px;
    }
  }